body {
	color: #1D1D1D;
	font-family: 'Roboto', sans-serif;
}

input {
	border-radius: 0;
	-webkit-appearance: none;
}

h2 {
	font-size: 34px;
}

.header {
	position: fixed;
	width: 100%;
	background-color: #fff;
	padding: 16px 0;
	box-shadow:  0px 4px 14px 0px rgba(0,0,0, 0.05);
	z-index: 1;
}

.header-logo {
	display: inline-block;
	padding: 13px;
}


.btn-login {
	position: relative;
	background: transparent;
	padding: 14px 20px;
	border-radius: 2px;
	cursor: pointer;
	font-weight: medium;
	font-size: 13px;
	border: none;
	outline: none;
	margin-right: 24px;
	transition: all .2s ease-in-out;
}

.btn-login:after ,
.btn-login:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 2px;
} 

.btn-login:before {
	top: 0px;
	left: 0;
	transition: all .2s ease-in-out;
}

.btn-login:after {
	top: 0;
	left: 0;
	border: 1px solid #E0E0E0;
}

.btn-login:hover {
	transform: translateY(-3px);
	text-shadow: 0px 3px 2px rgba(200,200,200,.9);
}

.btn-login:hover:before{
	box-shadow: 0px 0px 3px 0px rgba(200,200,200,.9),
	inset 0px 0px 3px 0px rgba(200,200,200, .9);
	transform: translateY(2px);
}

.header-cart {
	display: inline-block;
	width: 29px;
	height: 32px;
	background-image: url(../img/basket.png);
	background-position: center center;
	-webkit-background-size: 19px 22px;
	background-size: 19px 22px;
	background-repeat: no-repeat;
}

.search {
	padding: 60px 0;
	padding-top: 144px;
}

.search-form {
	width: 100%;
}
.search-input {
	outline: none;
	width: 100%;
	border: none;
	border-bottom: 1px solid #979797;
	borer-radius: none;
}

.search-input::placeholder {
	color: #626262;
}

.menu {
	padding-bottom: 80px;
}

.menu-items {
	width: 100%;
}


.reataurant-item {
	display: inline-block;
	width: 100%;
	max-width: 308px;
	border-radius: 2px;
	height: 366px;
	overflow: hidden;
	margin: 10px auto;
	color: #1D1D1D;
	transition: all 0.333s ease-in-out;

}

.reataurant-item:hover {
	transform: translateY(-5px);
	box-shadow: 1px 1px 5px 0px rgba(232, 232, 232, 1);;
	cursor: pointer;
	color: #1D1D1D;
	text-decoration: none;
}

.item-image{
	width: 308px;
	height: 256px;
	vertical-align: middle;
	overflow: hidden;
}
.item-image img {
	width: 100%;
	vertical-align: middle;
}

.item-text {
	padding: 11px 10px;
}

.item-text p {
	margin: 5px 0;
}

.item-title {
	font-size: 16px;
	font-weight: bold;
}

.item-cost {
	font-size: 14px;
	color: #626262;
}

.item-delivery {
	font-size: 13px;
	color: #1D1D1D;
}

.footer {
	padding-top: 56px;
	padding-bottom: 40px;
	background-color: #262626;
}

.footer hr {
	margin: 32px 0;
	background-color: #979797;
}

.select {
	width: 176px;
	height: 40px;
	background-color: #3B3B3B;
	color: #fff;
	padding-left: 48px;
	font-size: 13px;
	border-radius: 2px;
	border: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

.select option {
	font-size: 13px;
	height: 25px;
}

.select-wrapp {
	position: relative;
	width: 176px;
}


.select-wrapp:before,
.select-wrapp:after {
	font-family: "Font Awesome 5 Pro";
	font-weight: 200;
	color: #fff;
	font-size: 20px;
	line-height: 20px;
}

.select-wrapp:before {
	content: "\f0ac";
	position: absolute;
	top: 0;
	left: 18px;
	transform: translateY(50%);
}

.select-wrapp:after {
	content: "\f078";
	position: absolute;
	top: 0;
	right: 18px;
	transform: translateY(50%);
}

.footer-social {
	margin: 32px 0;
}

.footer-social a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

.footer-social a span {
	color: #49A144;
}

.social-networks {
	list-style: none;
	margin: 16px 0;
	padding: 0;
}

.social-networks li {
	display: inline-block;
	margin-right: 15px;
}

.social-networks li a {
	font-size: 24px;
}

.footer-links{
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-links li {
	margin-bottom: 26px;
	font-size: 13px;
}

.footer-links li a {
	color: #fff;
}

.footer-links li:nth-child(4) {
	margin-bottom: 0;
}


.footer-links li a:hover {
	text-decoration: none;
}

.copyright {
	color: #fff;
	font-size: 11px;
}

.footer-link {
	display: inline-block;
	color: #fff;
	font-size: 11px;
	margin-top: 14px;
}

.footer-link:hover {
	text-decoration: none;
	color: #fff;
}


/*Restaurant menu*/

.restaurant-header {
	padding-top: 174px;
	background-image: url(../img/menu/bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat:  no-repeat;
}

.restaurant-desc {
	margin-bottom: -100px;
	background-color: #fff;
	padding: 24px;
	box-shadow: 2px 2px 6px 0 rgba(0,0,0,.1)
}

.restaurant-name {
	text-align: center;
	font-size: 24px;
	margin-bottom: 40px;
}

.restaurant-cost {
	display: block;
	text-align: center;
	.font-size: 14px;
	color: #626262;
}

.restautant-delivery {
	display: inline-block;
	background-color: #000;
	color: #fff;
	padding: 8px 16px;
	border-radius: 20px;
	font-size: 13px;
	margin-top: 20px;
}

.restaurant-categories {
	border-bottom: 1px solid rgba(117, 117, 117, .2);
	display: none;
}

.menu-nav {
	padding: 30px 0;
}

.menu-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu-nav ul li {
	display: inline-block;
	margin-right: 40px;
}


.menu-nav ul li a {
	font-size: 16px;
	color: #626262;
}
.menu-nav ul li a:hover {
	color: #327430;
	text-decoration: none;
}

.menu-category {
	margin-top: 90px;
	text-align: center;
	font-size: 22px;
	position: relative;
	padding-bottom: 20px;
}

.menu-category::before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 50px;
	height: 1px;
	background-color: #757575;
}

.restaurant-menu {
	padding: 56px 0;
}

.menu-body {
	margin-top: 32px;
}

.menu-item {
	border: 1px solid #D8D8D8;
	border-radius: 4px;
	margin-bottom: 49px;
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.menu-item--text {
	position: relative;
	display: inline-block;
	padding: 16px;
	max-width: 100%;
}

.menu-item--img {
	display: inline-block;
}

.menu-item--name {
	font-size: 16px;
}

.menu-item--desc {
	font-size: 13px;
	color: #626262;
}

.menu-item--price {
	position: absolute;
	left: 16px;
	bottom: 0;
	font-size: 15px;
	color: #1D1D1D;
	font-weight: 600;
}


@media (min-width: 768px) { 
	.restaurant-header {
		padding-top: 164px;
		padding-bottom: 80px;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.restaurant-desc {
		position: 36px;
		margin-bottom: 0;
	}
	
	.restaurant-name {
		text-align: left;
		font-size: 36px;
		margin-bottom: 56px;
	}

	.restaurant-cost {
		text-align: left;
		align-self: center;
		line-height: 35px;
	}

	.restautant-delivery {
		margin-top: 0;
	}

	.menu-category {
		margin-top: 10px;
	}

	.restaurant-categories {
		display: flex;
	}
	
	.menu-category {
		text-align: left;
		padding-bottom: 0;
	}

	.menu-category::before {
		display: none;
	}
}